body{
    background-color: black;
}
.buttons{
    width: 650px;
    margin-left: 400px;
}
.b1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9 {
    width: 200px;
    height: 200px;
    margin: 5px;
    border-radius: 30px;
    cursor: pointer;
}
.b1, .b2, .b3{
    background-color: skyblue;
}
.b4, .b5, .b6, .b7{
    background-color: rosybrown;
}
.b8, .b9{
    background-color: blanchedalmond;
}
img{
    object-position: center;
}