body{
    background-image: url("hintergrundbild.png");
}
#Kreis{
    background-color: brown;
    width: 800px;
    height: 800px;
    border: 1px brown;
    border-radius: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px;
    text-align: center;
    font-size: 150px;
    font-family: non-serif;
}
img, video{
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 5px;
}