body{
    background-image: url("bg.png");
}
a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
    background-color: rgb(255, 212, 147);
    padding: 5px;
    border-radius: 5px;
}
.Karte{
    margin-left: 450px;
    margin-top: 150px;
}
.Hintergrund{
    position: absolute;
    z-index: -1;
}
.Stern1{
    position: absolute;
    top: 200px;
    left: 500px;
    cursor: pointer;
    z-index: 1;
}
.Stern1gelb{
    position: absolute;
    top: 200px;
    left: 500px;
    z-index: 0;
}
.Stern1:hover{opacity: 0%;}
.Stern2{
    position: absolute;
    top: 300px;
    left: 600px;
    cursor: pointer;
    z-index: 1;
}
.Stern2gelb{
    position: absolute;
    top: 300px;
    left: 600px;
    z-index: 0;
}
.Stern2:hover{opacity: 0%;}
.Stern3{
    position: absolute;
    top: 450px;
    left: 700px;
    cursor: pointer;
    z-index: 1;
}
.Stern3gelb{
    position: absolute;
    top: 450px;
    left: 700px;
    z-index: 0;
}
.Stern3:hover{opacity: 0%;}
.Stern4{
    position: absolute;
    top: 350px;
    left: 800px;
    cursor: pointer;
    z-index: 1;
}
.Stern4gelb{
    position: absolute;
    top: 350px;
    left: 800px;
    z-index: 0;
}
.Stern4:hover{opacity: 0%;}